body{
    font-family: 'Open Sans', sans-serif;
}
.hero-section{
    background-image: url(images/food/Project\ Cover4.png);
    text-align: center;
    height: 600px;
    width: auto;
    margin: 0;

}
.blue-text{
    color: #0040ff;
}